<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>
    <form method="POST" action="{% url 'signup' %}">{% csrf_token %}
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password1"><br>
        Confirm Password: <input type="password" name="password2"><br>
        Email: <input type="text" name="email"><br>
        Nickname: <input type="text" name="nickname"><br>
        Real Name: <input type="text" name="realname"><br>
        Phone Number: <input type="text" name="phone_num"><br>
        Address: <input type="text" name="address"><br>
        <input type="radio" name="host_or_guest" value=1>Host
        <input type="radio" name="host_or_guest" value=0>Guest

        <br>
        <input type="submit" value="Sign Up">
    </form>

</body>

</html>