<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>

<body>
    <div class="row">
        <img src="f">
        <h1>Room name</h1>
        <h3>Host name</h3>
        <h5>Max guest</h5>
        <p>Memo</p>
        <br><br><br>
        <form>
            <h3>Additional guest</h3>
            <input type="number">
            <br>
            <h3>Reservation Date</h3>
            <input type="text">
            ~
            <input type="text">
            <br><br><br>
            <input type="submit" value="submit">
        </form>

    </div>
</body>

</html>