<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Room Search</title>
</head>

<body>

    <h1>Room Search</h1>
    <form>
        <h3>Reservation Date</h3>
        <input type="search" placeholder="yyyy-MM-dd hh:mm" onfocus="this.placeholder=''"
            onblur="this.placeholder='yyyy-MM-dd hh:mm'">
        ~
        <input type="search" placeholder="yyyy-MM-dd hh:mm" onfocus="this.placeholder=''"
            onblur="this.placeholder='yyyy-MM-dd hh:mm'">
        <input type="submit" value="submit">
    </form>

</body>

</html>